/*animation */
@keyframes movetobottom{
    0%{
        opacity: 0;
        transform: translateY(-100%) scale(1);
    }
    20%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    80%{
        opacity: 0.8;
        transform: translateY(0) scale(1.5);

    }
    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0); 
    }
}
@keyframes bottomheader{
    0%{
        opacity: 0;
        transform: translateY(80px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes popup{
    0%{
        opacity: 0;
        transform: translate(-50%,-50%) scale(.5);
    }
    50%{

    }
    100%{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
}